@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #002050;
  color: rgb(241, 241, 241);
  font-family: 'Open Sans', sans-serif;
  max-width: 500px;
}

#body {
  display: flex;
  align-items: center;
  flex-flow: column;
}
#title {
  font-size: 28px;
}

#random {
  font-size: 10px;
  float: right;
  padding-top: 4px;
}

#crm {
  height: 100px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: #345484;
}
